<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ogsengine.test" >

	<!-- Touchscreen support -->
	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false" />

	<!-- Game controller support -->
	<uses-feature
		android:name="android.hardware.gamepad"
		android:required="false" />
	
	<!-- External mouse input events support -->
	<uses-feature
		android:name="android.hardware.type.pc"
		android:required="false" />
	
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>